@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-primary-light: #bbf7d0;
  --color-accent: #f59e0b;
}

body {
  font-family: var(--font-sans);
  @apply bg-gray-50 text-gray-900 antialiased;
}
